streamlit==0.79.0
jinja2==2.11.3
black==20.8b1
jupyter-book==0.10.1
matplotlib==3.3.4
numpy==1.20.1
ghp-import==1.0.1
flake8==3.8.4
spacy==3.0.3
uvicorn==0.11.8
mypy==0.812
fastapi==0.63.0
pytest==6.2.2
lxml==4.6.2
streamlit-aggrid==0.1.9
requests==2.25.1
beautifulsoup4==4.9.3
streamlit-folium==0.3.0
-e git+https://github.com/sul-dlss-labs/spacy-lookup.git@57fdf93a01db7aaac6ec4f896f6f7aa60eedeb50#egg=spacy_lookup
